<div class="container">
  <h1> Profil de
    <%= @user.first_name %>
    <%= @user.last_name %>
  </h1>

  <div>
    <h3>My trees :</h3>
    <% @trees.each do |tree| %>
      <%= link_to tree_path(tree) do %>
        <%= tree.name %>
      <% end %>
    <% end %>
  </div>

  <div>
    <h3>My adoptions :</h3>
    <% @adoptions.each do |adoption| %>

      <h4><%= adoption.name %> : <%= adoption.tree.fruit %> de <%= adoption.tree.name %></h4>
      <p>depuis : <%= adoption.starts_at %></p>
      <p>jusqu'a : <%= adoption.ends_at %></p>

      <% if adoption.review.nil? %>
        <p>Comment se passe ton adoption ?</p>
        <%= render 'shared/new_review', locales: [adoption, Review.new] %>
      <% end %>

      <% unless adoption.review.nil? %>
        <h5>Review : </h5>
        <p><%= adoption.review.rating %></p>
        <p><%= adoption.review.description %></p>
      <% end %>

    <% end %>
  </div>
</div>
