<div class="container">
  <div class="btn-layout">
    <%= link_to "Retour", :back, class: "btn-ghost" %>
    <%= link_to "Ajouter un arbre", new_tree_path, class: "btn-add" %>
  </div>
  <div class="grid grid--3-cols grid--2-cols grid-margin-bottom">
      <% @trees.each do |tree| %>
        <%= link_to tree_path(tree) do %>
          <div class="card-tree">
            <h4 class="title"><%= tree.name %></h4>
            <p class= "price"><%= tree.price %>€ / par an</p>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
